.tcu-faculty-staff-content a {
	font-weight: 700;
}

.tcu-faculty-staff-content a:hover {
	text-decoration: underline;
}

@media screen and (min-width: 62.5em) {
	.tcu-table--fs table {
		display: table;
		width: 100%;
		border-collapse: collapse;
	}
}

.tcu-table--fs tbody td {
	display: block;
	float: none;
	width: 100%;
}

@media screen and (min-width: 30.0625em) {
	.tcu-table--fs tbody td {
		display: block;
		float: left;
		padding-bottom: 0;
		width: 50%;
	}
}

@media screen and (min-width: 62.5em) {
	.tcu-table--fs tbody td {
		display: table-cell;
		padding-bottom: 15px;
		max-width: 20%;
	}
}

@media screen and (min-width: 62.5em) {
	.tcu-table--fs tbody tr {
		padding-bottom: 15px;
	}
}

.wp-advanced-search {
	background: #eeeeee;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 16px;
	margin-bottom: 16px;
}

.wp-advanced-search .wpas-meta_tcu_first_name,
.wp-advanced-search .wpas-meta_tcu_last_name {
	width: 100%;
}

@media screen and (min-width: 43.75em) {
	.wp-advanced-search .wpas-meta_tcu_first_name,
	.wp-advanced-search .wpas-meta_tcu_last_name {
		width: 400px;
	}
}

.wp-advanced-search #wpas-submit {
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
}

@media screen and (min-width: 30.0625em) {
	.wp-advanced-search #wpas-submit {
		justify-content: end;
	}
}
